// Reset css
@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Inder&family=Inter&family=Meow+Script&family=Noto+Sans&family=Meddon&family=Nunito+Sans:opsz,wght@6..12,300&family=Nunito:wght@300&family=Poppins&family=Quicksand:wght@600&family=Roboto+Slab&family=Exo&display=swap');

:root {
    --default-layout-width: 1440px;
    --font-family: 'Inter', sans-serif;
    --default-search-width: 361px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}
.modal-content {
    width: 1046px;
    // height: 545px;
    // flex-shrink: 0;
    background: url('~/src/assets/Image/Productdetails/z4012347658091_f496d7e3a39fa16caa9db05ec42b30fd 1.png') no-repeat
        center center;
    background-size: cover;
    .modal-header,
    .modal-footer {
        border: none;
    }

    .modal-header {
        .btn-close {
            border: 1px solid #000;
            border-radius: 50%;
        }
    }
}

ul {
    list-style: none;
}