.wrapper{
    width: var(--default-search-width);
}
.search {
    width:var(--default-search-width);
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    position: relative;
    border: 1.5px solid transparent;
    transition: width 0.5s ease-in-out;

    

    input {
        flex: 1;
        height: 100%;
        padding-right: 35px;
        color: var(--black);
        font-family: var( --font-family);
        font-size: 1rem;
        border: none;
        caret-color: var(--primary);
        background-color: transparent;
        outline: none;
    }
   

    input:not(:placeholder-shown) ~ .search-btn {
        color: #86BA09;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        right: var(--search-button-width);
        top: var(--search-top-space);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        width: 120%;
        border: 1.5px solid #86BA09;
        
    }
}

.clear-btn,
.spinner {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #86BA09;
    border: none;
}


.spinner {
    font-size: 1rem;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    position: absolute;
    right: 0;
    width: var(--search-button-width);
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-result {
    width: calc(var(--default-search-width)*120/100);
}

.search-label {
    h4 {
        font-size: 14px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        padding: 5px 12px;
    }
}